* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: #C1C1C1;
    justify-content: space-between;
    font-weight: bold;
}

article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5em;
}
ul {
    list-style: none;
    margin: 0;
    display: inline-flex;
    font-family: "Work Sans";
    /*font-weight: bold;*/
}

.ul-one{
    display: flex;
    justify-items: flex-start;
    padding-left: 0;
    margin-left: 0;
    font-family: "Work Sans";
}

.ul-two{
    align-items: center;
    padding-right: 0;
}

h1 {
    display:flex;
    align-self: center;
    font-family: Montserrat;
    font-size: 3em;
    padding-top: .2em;
    padding-bottom: .2em;
    position: absolute;
    margin: 0;
    left: 42%;
    margin-right: -42%;

}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 1em;
}
nav a:hover {
    color: blue;
}