* {
    box-sizing: border-box;
}
body {
    margin: 1em;
    text-align: left;
    padding: 1em;
}

main {
    /* add margin to make the top of our grid more visible */
    border: 1px solid lightgrey;
    background: white;
    display: grid;
    height: 150vh;
    width: 100vw;
    grid-gap: 1em;
    padding: .5em;
    grid-template-columns: 17.5% 56% 26.5%;
    grid-template-rows: 3.75% 21.25% 25% 25% 7% 12%;
    grid-template-areas:
        "header header header"
        "nav-left heading1 ad1"
        "nav-left heading2 ad2"
        "nav-left heading3 ad3"
        "nav-left pages pages"
        "nav-left footer footer";
    /*grid-column-gap: 0;*/
    /*grid-row-gap: 0px;*/
}

.header {
    /*Nav Bar;*/
   grid-area: header;
   /* display: flex;*/
    background-color: black;
    color: white;
}

.nav-left {
    /*left column*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: nav-left;
    background-color: #F0F0F0;
}
 ul {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     list-style: none;
     padding: .5em;
 }

 li {
     margin-bottom: 1em;
 }

.heading1 {
    /*ad 1 small;*/
    grid-area: heading1;
}


.heading2 {
    /*ad 1 big;*/
    grid-area: heading2; }


.heading3 {
    /*ad 2 small;*/
    grid-area: heading3; }


.ad1 {
    /*ad 2 big;*/
    grid-area: ad1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}


#ad-a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .01em solid lightgrey;
    height: 33%;
    width: 100%;
    margin-bottom: 1em;
}

#ad-b {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .01em solid lightgrey;
    height: 66%;
    width: 100%;
}

.ad2 {
    /*ad 3 small;*/
    grid-area: ad2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-right: 1em;}


#ad-c{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .01em solid lightgrey;
    height: 33%;
    width: 100%;
    margin-bottom: 1em;
}

#ad-d{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .01em solid lightgrey;
    height: 66%;
    width: 100%;
}

.ad3 {
    /*ad 3 big;*/
    grid-area: ad3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-right: 1em;}


#ad-e {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .01em solid lightgrey;
    height: 33%;
    width: 100%;
    margin-bottom: 1em;
}

#ad-f{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .01em solid lightgrey;
    height: 66%;
    width: 100%;
}
.pages {
    /*page number icons;*/
    grid-area: pages; }

.ul-2 {
    display: inline-block;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.li-2 {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}


.footers {
    /*footer top;*/
    grid-area: footers; }


#logo{
    background-color: gray;
}