h1.fancy-header {
    color: #EDF5E1;
    text-align: center;
    font-family: "Lucida Grande";
    font-size: 500%;
}
#bigness {
    font-size: larger;
}
h1, h2, h3, h4, h5, h6 {
    color: #053568;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #35927F;
    margin: 1em 0; padding: 0;
}
body {
    font-family: sans-serif, "Comic Sans MS";
    font-size: larger;
    color: #EDF5E1;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5-e-Rp8a5fSbID2reR6N1jF8zDshG3P4-5lRAIM8oupaNkKd8&s")
}

ol {
    list-style: upper-roman;
}

ul {
    list-style: circle;
}

table {
    padding: 6px 6px 6px;
}

td {
    padding: 6px 6px 6px;
    font-size: larger;
}

tr {
    padding: 6px 6px 6px;
    font-size: larger;
}

th {
    padding: 6px 6px 6px;
    color: #35927F;
    font-size: larger;
}
a:active {
    color: #053568;
    text-decoration: #BEE9CD underline;
}

a:visited {
    color: yellow;
    text-decoration: #053568 underline;
}

a:hover {
    color: #35927F;
}

/*colors used
#053568
#35927F
#69E8A1
#BEE9CD
#EDF5E1*/