/*If you're grading this, I did the exercise the way it was given but then when I finished I got bored and so I churched it up...ignore the Googly Eyes, or Don't. It's your adventure after all.*/

:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://loremflickr.com/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}

.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #00AAF0;
}

/*Header*/

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-pic{
    float: left;
    padding: .5em;
    height: 65px;
    width: 65px;
}

.nav-item {
    display: inline-block;
    padding: 1.5em;
}

.nav-link {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}

/*Profile Details*/
.googly-eyes{
    float: left;
    height: 35px;
    width: 80px;
    position: absolute;
    top: 292px;
    left: 32px;
    z-index: 1;
}
.profile {
    background: #00AAF0;
    height: 80px;
}

.profile-form {
    float: right;
    line-height: 80px;
    margin-right: .5em;
}

.profile-details {
    float: left;
    width: calc(25% - 1em);
    margin: 0 .5em;
}

.profile-image {
    float: left;
    position: absolute;
    top: 245px;
}

.profile-items{
   list-style-type: none;
   padding: 0;
}

.profile-entry {
    margin: .5em;
}

.timeline {
    float: left;
    width: calc(50% - 1em);
    margin: 0 .5em;
}

.who-to-follow {
    float: right;
    width: calc(25% - 1em);
    margin: 0 .5em;
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.media {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e3e3e3;
    padding: .5em;
    overflow: auto;
}

.media-image {
    max-width: 50px;
    float: left;
    margin-top: 1.33em;
}

.media-body {
    float: left;
    width: calc(100% - 50px);
}

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
    color: black;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}

/*.text-muted {*/
/*    color: var(--main-link-color);*/
/*}*/

.profile-link:active {
    color: #00caf6;
    text-decoration: #00caf6 underline;
}

.profile-link:hover {
    color: #00008B;
    text-decoration: #00caf6 underline;
}

/*.profile-link:visited {*/
/*    color: crimson;*/
/*}*/